$moorkeblaa: #2A324B;
$lyseblaa: #58699D;
$graahvit: #E1E5EE;
$hvit: #fff;

:root {
  --moorkeblaa: #{$moorkeblaa};
  --lyseblaa: #{$lyseblaa};
  --graahvit: #{$graahvit};
  --hvit: #{$hvit};
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--graahvit);
}

nav {

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  li {
    display: inline-block;
    padding: 27px 64px;
    cursor: pointer;
    background-color: var(--moorkeblaa);
    color: var(--hvit);
    font-weight: 1000;
    font-size: 20px;
    margin: 5px;
    text-align: center;

    &:hover {
      background-color: var(--hvit);
      color: var(--moorkeblaa);
    }
  }
}

#resource-container {
  div {
    padding: 20px;
    height: 350px;
    background-color: var(--hvit);
    margin: 10px;
  }

  h2 {
    text-align: left;
    margin-left: 58px;
    font-weight: 1200;
    font-size: 30px;
    color: var(--moorkeblaa);
  }
  
  ul {
    margin-left: 60px;
  }

  li a {
    color: var(--lyseblaa);
  }
}

@media screen and (max-width: 500px) {
nav {
  ul {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  
  li {
    display: block;
    padding: 15px;
    margin: 5px 0;
    padding-left: 5%;
  }
}

  #resource-container div {
    padding: 10px;
    height: auto;
    margin: 0;
  }

  #resource-container h2 {
    margin-left: 0;
  }

  #resource-container ul {
    margin-left: 20px;
  }
}
