$moorkeblaa: #2A324B;
$lyseblaa: #58699D;
$graahvit: #E1E5EE;
$hvit: #fff;

:root {
  --moorkeblaa: #{$moorkeblaa};
  --lyseblaa: #{$lyseblaa};
  --graahvit: #{$graahvit};
  --hvit: #{$hvit};
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--graahvit);
}

nav {
  div {
    display: flex;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
    li {
    display: inline-block;
    padding: 27px 64px;
    cursor: pointer;
    background-color: var(--moorkeblaa);
    color: var(--hvit);
    font-weight: 1000;
    font-size: 20px;
    margin-left: 10px; //for mellomrom mellom kategoriene
    margin-right: 10px;

    &:hover{
      background-color: var(--hvit);
      color: var(--moorkeblaa);
    }
  }
}

#resource-container {
    padding: 20px;
    height: 350px;
    background-color: var(--hvit);
    margin-left: 10px; //for mellomrom mellom kategoriene
    margin-right: 10px;

  h2 {
    text-align: left;
    margin-left: 58px;
    font-weight: 1200;
    font-size: 30px;
    color: var(--moorkeblaa);
  }
  
  ul {
    margin-left: 60px;
  }

  li a {
    color: var(--lyseblaa);
  }
}

@media screen and (max-width: 600px) {
  nav {
    ul {
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    
    li {
      display: block;
      padding: 15px;
      margin: 5px 0;
      padding-left: 5%;
      text-align: center;
    }
  }
  
    #resource-container {
      
      div {
      padding: 10px;
      height: auto;
      margin: 0;
    }
  
    h2 {
      margin-left: 0;
    }
  
     ul {
      margin-left: 20px;
      max-width: 200px;
    }
  }}
  